/*CSS*/
*,
*::before, 
*::after {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
}

html {
    font-size: 12px;
    font-family: "Signika-Light", sans-serif;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

nav {
    display: block;
    height: 44px;
}

header {
    position: fixed;
    top: 0;
    z-index: 1400;
    width: 100%;
    height: 5rem;
    background-color:rgb(58, 211, 147);
    backdrop-filter: blur(2rem);
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-text {
    margin: 15px;
}

.nav-list-mobile {
    display: none;
}

.nav-link {
    font-size: 2rem;
    color: #ffffff;
    transition: opacity .5s;
}

.nav-link:hover {
    opacity: .7;
}

.nav-link-triffmi {
    width: 5rem;
    height: 5rem;
    background: url('../img/logo/icon.png') no-repeat;
    background-size: cover;
}

.iphone-11-pro {
    background: url("../img/hero/iphone-11-pro/iphone_11_pro_large.jpg");
    margin-top: 4.4rem;
}

.title {
    color: #fff;
    text-align: center;
    padding-top: 5.5rem;
}

.title-heading {
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: -0.005rem;
}

.title-sub-heading {
    font-size: 2.65rem;
    margin-top: .6rem;
    letter-spacing: .008rem;
    font-weight: 400;
}

.title-price {
    font-size: 1.7rem;
    color: #888;
    margin-top: .68rem;
}
.title-dark{
    color: rgb(0, 0, 0);
}


/* moved to the bottom of section to keep consistant style */
.hero {
    height: 69.2rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: .6rem solid #fff;
    border-bottom: .6rem solid #fff;
}

.tile {
    margin-left: 10%;
    margin-right: 10%;
    padding: 10%;
    max-height: 70rem;
    overflow: hidden;
    border-radius: 18px;
}

.tile-gray {
    background-color:#e3e3e3;
}

.header {
    margin-top: 6rem;
    background: url(../img/illustration/illustration.png) no-repeat center;
}

h1 {
    text-align: center;
    font-size: 7rem;
}

p {
    color: #000;
}

@font-face {
    font-family: Signika-Light;
    src: url(../fonts/Signika-Light.ttf);
  }

/* end of desktop css  */

@media screen and (max-width: 1068px){
    .hero{
        height: 65rem;
        background-size: auto 69.8rem;
        background-position: bottom center;
        background-repeat: none;
    }
    .title-heading {
        font-size: 4.4rem;
    }
    .title-sub-heading {
        font-size: 2.4rem;
    }
    .cta-link:nth-child(2){
        margin-left: 2rem;
    }
    .title-heading-watch{
        height: 6.2rem;
        background: url("../img/hero/watch/logo_watch_meidum.png");
        background-size: auto 6.2rem;

    }
}

@media screen and (max-width: 767px){
    header{
        height: 4.8rem;
        transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1), height .36s cubic-bezier(0.32, 0.08, 0.24, 1);
    }
    header .container {
        /* margin-top: 4.8rem; */
    }
    .nav-list{
        margin-top: 0px;
    }
    .nav-list-mobile {
        display: flex ;
    }
    .nav-item {
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;
    }
    .nav-item-hidden{
        display: none;
    }

    .mobile-menu{
        position: relative;
        z-index: 1500;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .line {
        position: absolute;
        width: 1.7rem;
        height: 1px;
        background-color: #fff;
        transition: margin-top .2s ease-in-out;

    }
    .line-top {
        margin-top: 3px
    }
    .line-bottom {
        margin-top: -.4rem;
    }
    .active .line-top {
        margin-top: 0px;
        transform: rotate(45deg);
        transition: transform .3192s .1s cubic-bezier(0.04, 0.04 0.12, 0.96);
    }
    .active .line-bottom {
        margin-top: 0px;
        transform: rotate(-45deg);
        transition: transform .3192s .1s cubic-bezier(0.04, 0.04 0.12, 0.96);
    }
    
    /*Header*/

    header.active {
        height: 100%;
        background: rgb(58, 211, 147);
    }
    .nav-link-triffmi {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .nav {
        position: relative;
    }

    .nav-link {
        font-size: 1.7rem;
        padding: 0;
        margin: auto 0;
    }

    .nav-list-larger {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        display: block;
        padding: 10.5rem 5rem;
        z-index: 1000;
        box-sizing: border-box;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s;
    }

    .active .nav-list-larger {
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: visible;
    }

    .nav-list-larger .nav-item{ 
        width: 100%;
        justify-content: flex-start;
        border-bottom: 2px solid rgb(58, 211, 147);
    }
    .nav-list-larger .nav-item:nth-child(9){
        border-bottom: none;
    }
    .active .nav-list-larger .nav-item {
        animation: fadeIn 1s ease-in;
    }

    .nav-item:nth-child(10){
        display:none;
    }
    @keyframes fadeIn {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
}

@media screen and (max-width: 735px){
    .iphone-11-pro{
        background: url('../img/hero/iphone-11-pro/iphone_11_pro_small.jpg');
    }
    .iphone-11{
        background: url('../img/hero/iphone-11/iphone_11_small.jpg');
    }
    .watch{
        background: url('../img/hero/watch/watch_small.jpg');
    }
    .hero {
        height: 50rem;
        background-size: auto 54.8rem;
        background-position: bottom center;
        background-repeat: no-repeat;
    }
    .title {
        padding-top: 3.7rem;
    }
    .title-heading {
        font-size: 3.2rem;
    }
    .title-sub-heading {
        font-size: 1.9rem;
    }
    .title-heading-watch {
        margin-top: -.5rem;
        margin-bottom: 0;
    }
    .title-price {
        font-size: 1.4rem;
    }
    .cta {
        margin-top: .7rem;
    }
    .cta-link {
        font-size: 1.9rem;
    }
}

