{{- $team := .Site.Params.team }}
{{- $title    := index $team "title" }}
{{- $subtitle := index $team "subtitle" }}
{{- $clients  := index $team "clients" }}
<section class="section is-medium section-secondary">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced">{{ $title }}</h2>
      {{- with $subtitle }}
      <h3 class="subtitle is-5 light-text">{{ . }}</h3>
      {{- end }}
    </div>

    <div class="content-wrapper">
      <div class="columns is-vcentered">
        {{- range $clients }}
        <div class="column is-4">
          <figure class="testimonial">
            <blockquote>
              <div class="author">
                <img src="{{ printf "/images/team/%s.png" (string .img) | relURL }}" alt=""/>
                <h5>{{ .name }}</h5>
                <span>{{ .job }}</span>
              </div>
              {{ .bio }}
            </blockquote>

          </figure>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>